
@font-face {
    font-family: "Nexa Bold";
    src: url("/vue-test/src/assets/fonts/Nexa\ Bold.otf") format("otf");
    font-family: "Nexa Light";
    src: url("/vue-test/src/assets/fonts/Nexa\ Light.otf") format("otf");
  }

$font-stack: "Nexa light", Arial,sans-serif;
$primary-color: #333;
$background-color: #f3f4f8;
$main-lineheight: 1.5;
$bold-header:700;
$cardbody-pColor:#707070;
$cardbody-font: "Nexa Light", Arial, sans-serif;
$card-lineHeight: 1.6;
$card-letters: 0.4px;


body {
  font: 100% $font-stack;
  color: $primary-color;
  line-height: $main-lineheight;
  background-color: $background-color;
  margin: 0;
}


.container-fluid {
    margin-top: 0px!important;
    padding:0px;
}

.logo {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    background: url("/static/img/nbc-tokyo-2020-main-logo.png") top no-repeat;
    left: 20px;
    top: 20px;
}

header {
    min-height: 100px;
    height:705px;
    position:relative;
    margin: 0 auto;
    background: url("/static/img/header-image.png") center top no-repeat;
    &:after {
        background-image: linear-gradient(to bottom, #0d022a, rgba(0, 0, 0, 0));
        content: ' ';
        display: block;
        height: 92px;
        left: 0;
        top: -5px;
        width: 100%;
        position: absolute;
    }

}

.header-wave {
    background: url("/static/img/wave-divider.png") top no-repeat;
    bottom: -64px;
    height: 100%;
    max-height: 450px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

}

.header-gradient {
    background: linear-gradient(to top, #0d022a, rgba(0, 0, 0, 0));
    bottom: 120px;
    height: 100%;
    max-height: 450px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.title {
    font-family: Nexa bold;
    font-size: 44px;
    text-transform: uppercase;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    text-shadow: 3px 0.1px 0.1px #fff;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    top: 370px;
    width: 100%;
    margin: 0 auto;

}

.subtitle {
    font-family: Nexa bold;
    font-size: 35px;
    z-index: 1;
    color: #F01754;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 365px;
}



section {
    color: #000000;
    min-height: 470px;
    padding: 3%;
    &.promovideo {
        margin: 0px auto 35px;
        position: relative;
        width: 905px;
    }
    h2.header {
        font-weight: $bold-header;
        margin: 10px auto 10px;
    }
}



.promoFeatured {
    background-color:#fff!important;
}
.promoVideo {
    background-color:#f3f4f8;
        height: 540px;
        margin: 0px auto 35px;
        position: relative;
        width: 906px;
        bottom: 74px;
}


#home .card:nth-child(1) {
    background-image: url(/static/img/promo-video-flags.jpg);
    position: relative;
    border-radius: 10px;
    opacity: 85%;
    width: 584px;
    height: 350px;
    background-color: #fff;
    z-index: 1;
    top: 62px;
    margin-left: 350px;

}

#home .card:nth-child(2) {
    border-radius: 10px;
    width:620px;
    height:235px;
    background-color:#fff;
    position: absolute;
    z-index:2;
    border:none;

}

.card-body {
    h2 {
        font-weight: $bold-header;
        font-size: 38px;
    }
    p {
        font:18px $cardbody-font;
        color: $cardbody-pColor;
        line-height: $card-lineHeight;
        letter-spacing: $card-letters;
    }
    &.blackText {
        color:#000;
    }

}

.purpleRule {
    border: 1.5px solid
    #6540EC;
    width: 193px;
    display: flex;
    &.ruleLeft {
        margin-left: 0px;
    }
    &.ruleCenter {
        text-align:center;
    }

}

