@font-face {
  font-family: "Nexa Bold";
  src: url("/vue-test/src/assets/fonts/Nexa Bold.otf") format("otf");
  font-family: "Nexa Light";
  src: url("/vue-test/src/assets/fonts/Nexa Light.otf") format("otf"); }

body {
  font: 100% "Nexa light", Arial, sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #f3f4f8;
  margin: 0; }

.container-fluid {
  margin-top: 0px !important;
  padding: 0px; }

.logo {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  background: url("/static/img/nbc-tokyo-2020-main-logo.png") top no-repeat;
  left: 20px;
  top: 20px; }

header {
  min-height: 100px;
  height: 726px;
  position: relative;
  margin: 0 auto;
  background: url("/static/img/header-image.png") center top no-repeat; }
  header:after {
    background-image: linear-gradient(to bottom, #0d022a, rgba(0, 0, 0, 0));
    content: ' ';
    display: block;
    height: 92px;
    left: 0;
    top: -5px;
    width: 100%;
    position: absolute; }

.header-wave {
  background: url("/static/img/wave-divider.png") top no-repeat;
  bottom: -64px;
  height: 100%;
  max-height: 450px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1; }

.header-gradient {
  background: linear-gradient(to top, #0d022a, rgba(0, 0, 0, 0));
  bottom: 98px;
  height: 100%;
  max-height: 450px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0; }

.title {
  font-family: Nexa bold;
  font-size: 48px;
  text-transform: uppercase;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 0.1px 0.1px #fff;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  top: 430px;
  width: 100%;
  margin: 0 auto; }

.subtitle {
  font-family: Nexa bold;
  font-size: 35px;
  text-transform: uppercase;
  z-index: 1;
  color: #F01754;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 430px; }

section {
  color: #000000;
  min-height: 470px; }
  section.promovideo {
    margin: 0px auto 35px;
    position: relative;
    width: 905px; }

section:nth-child(odd) {
  background-color: #fff !important; }

#home .card:nth-child(1) {
  background-image: url(/static/img/promo-video-flags.jpg);
  position: relative;
  border-radius: 10px;
  opacity: 85%;
  width: 620px;
  height: 350px;
  background-color: #fff;
  z-index: 1;
  top: 83px;
  right: 64px;
  margin-left: 500px; }

#home .card:nth-child(2) {
  border-radius: 10px;
  width: 514px;
  height: 235px;
  background-color: #fff;
  position: absolute;
  z-index: 2; }

.card-body h2 {
  font-weight: 700; }

.card-body p {
  font: 18px "Nexa Bold", Arial, sans-serif;
  color: #707070;
  line-height: 1.8;
  letter-spacing: 0.4px; }

.purpleRule {
  border: 2px solid #6540EC;
  width: 193px;
  display: flex; }
  .purpleRule.ruleLeft {
    margin-left: 0px; }
  .purpleRule.ruleCenter {
    text-align: center; }
